@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --blue300: #D0D6F9;
    --blue900: #0B0D17;
    --white: #FFFFFF;
    --Bellefair: "Bellefair", serif;
    --Barlow_regular: "Barlow", serif;
    --Barlow_condensed: "Barlow Condensed", serif;

    /* line color rgba(255, 255, 255, 1) */
    /* navbar color rgba(255, 255, 255, 0.05) */
}

body{
    background-image: url(assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    font-family: var(--Bellefair);
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
}


main{
    color: white;
    height: calc(100vh - 136px);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;

}

main a{

    background-color: white;
    aspect-ratio: 1;
    width: 272px;
    border-radius: 50%;

    align-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blue900);

    font-size: 32px;

    position: relative;

}

main a::before{
    content: "";
    background-color: rgba(255, 255, 255, 0.132);
    aspect-ratio: 1;
    width: calc(272*1.5px);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    display: none;


}

main a:hover::before{

    display: block;

}

article{
    width: 66ch;
}

article h1{
    font-family: var(--Bellefair);
    font-weight: 400;
    font-size: 144px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

article h2{
    font-family: var(--Barlow_condensed);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 28px;
    color: var(--blue300);
}

article p{
    font-family: var(--Barlow_regular);
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0px;
    color: var(--blue300);
    
}





