body,html{
    overflow: auto;
    overflow-x: hidden;
    height: 100vh;

}

main{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin-top: 250px;
}

/* all */
header nav{
    height: 100vh;
    position: absolute;
    width: fit-content;

    z-index: 2;
    top: 0px;
    right: 0px;

    justify-content: flex-end;
    align-items: flex-start;
    /* display: none; */
  
}

header > nav > ul{
    margin-top: 130px;
    flex-flow: column nowrap;
    width: 40vw;
    justify-content: flex-start;
    flex: none;
    height: fit-content;
    gap: 32px;
    position: relative;
}

nav a{
    height: fit-content;
    font-size: clamp(12px, 2vw, 16px);
    font-family: var(--Barlow_condensed);
    line-height: 19.2%;
    letter-spacing: 2px;
    width: 100%;
}

nav a:not(.selected):hover::before{
    content: "";
    width: 6px;
    background-color: rgba(255, 255, 255, 0.405);

    position: absolute;
    height: 100%;
    top: 50%;
    left: calc(100% - 15px);
    transform: translate(-50%, -50%);
}



.selected::before{
    content: "";
    width: 6px;
    background-color: white;
    height: 100%;
    top: 50%;
    left: calc(100% - 15px);

    position: absolute;
}

nav li{
    margin-left: 15px;
    width: 100%;
    height: fit-content;
}

/* hamburger menu */
#label_open_close::before{
    content: "";
    height: 30px;
    width: 30px;
    top: 80px;
    right: 50px;
    background-image: url(assets/shared/icon-close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    cursor: pointer;
}

/* hamburger responsiveness */
input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked + #label_open_close::before{
    background-image: url(assets/shared/icon-hamburger.svg);

}
input[type="checkbox"]:checked ~ ul{
    display: none;
}

main{
    min-height: 100vh;
}
main h1{
    display: block;
    color: red;
    font-size: clamp(20px,3vw, 28px);
    margin-left: calc((855px - 100vh)* 1.2);
}

article{
    justify-content: center;
    align-items: center;
}

.wrapper h3{
    font-size: clamp(20px, 5vw, 32px);
}
.wrapper h2{
    font-size: clamp(26px, 8vw, 56px);
}
.wrapper p{
    font-size: clamp(13px, 3vw, 18px);
    width: 38ch;
}

.wrapper_img img{
    display: block;
    margin: 16px 60px;
    width: 300px;
}